.page-header {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 2.5rem;
    align-items: center;
    font-family: inter;
    color: white;
}

.page-header ul {
    list-style-type: none;
    display: flex;

}

.page-header li {
    padding: 0 1rem;
    text-shadow: 1px 1px 2px black;
}

.hamburger {
    padding-left: 1rem;
    text-shadow: 1px 1px 2px black;
}