.page-header {
    position: fixed;
    display: flex;
    top: 1rem;
    right: 2.5rem;
    align-items: center;
    font-family: inter;
    color: white;
    height: 3rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar li {
    padding: 0 1rem;
    text-shadow: 2px 2px 2px black;
}
.navbar li a {
    text-decoration: none;
}

.hamburger {
    padding-left: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.primary-nav {
    justify-content: center;
    padding-bottom: 0.5rem;
}
.primary-nav .navlink {
    color: white;
    font-size: 1.2rem;
}

.navbar-separator {
    border: 1px solid white;
    margin: 0.2rem;
}


.scroll-link {
    color: white;
    font-size: 1rem;
}
.scroll-link:hover,
.navlink:hover {
    color: #0697FF;
}
.scroll-link:active {
    color: #004b81;
}
